@model  string

@if (!string.IsNullOrEmpty(Model))
{
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info">
                @Model
            </div>
        </div>
    </div>

    
}


